.side_bar
  .side_header
    .side_header__box
      .side-header__box__left
        = current_user.name
      .side-header__box__right
        =link_to "#" do
          = icon('far', 'edit',class:"icon")

        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog',class:"icon")

  .groups
    .group
      = link_to "#" do
        .group__name
          サンプル1
        .group__message
          サンプル1

    .group
      = link_to "#" do
        .group__name
          サンプル2
        .group__message
          サンプル2
